<div id="profilebox" style="margin-top:50px" class="mainbox">

<div class="userInfo">
	<div class="col-md-4">
		<input class="profileimg"><img src="<%= user.get('profile_photo') %>"></div> <!-- a editar al css treure img src i posar backgroun !-->
	</div>
	<div class ="col-md-8"> <!-- columna superior perfil!-->
		<div class = "user_name">
			<div class="col-md-2"><div class="user_title"> <%= user.get('username') %> </div>
			</div>
			<div class ="col-md-2"><div class="followbutton">FOLLOW</div>
			<div class ="col-md-2"><div class="followbutton">DONE</div>
			</div>
		</div>
		<div class="stats"> <!--posts, followers, following !-->
			<div class = "col-md-2"><div class="statsinfo"></div>Posts: <%= user.get('posts') %></div>
			<div class = "col-md-2"><div class="statsinfo"></div>Following: <%= user.get('following') %> </div>
			<div class = "col-md-2"><div class="statsinfo"></div>Followers: <%= user.get('followers') %> </div>
		</div>
		<input class="userbio">
			<div class="col-md-8">
				<%= user.get('bio') %>
			</div>
		</div>
		<div class="userurl">
			<input class="col-md-2">
				<%= user.get('url') %>
			</div>
		</div>
		
	</div>
</div>

<div class="userPhotos">
	<div class="col-md-12"> <!-- cos on apareixeran les fotografies !-->
		<div  class="filaFoto">
			<div class="col-md-12">
						<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
			</div>
		</div>
		<div  class="filaFoto">
			<div class="col-md-12">
						<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
			</div>
		</div>
		<div  class="filaFoto">
			<div class="col-md-12">
						<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="photoBio">
				<%= user.get('placeholder') %> <!-- a carregar dinamicament!-->
			</div>
		</div>
			</div>
		</div>
	</div>
</div>

</div>





 
