<div id="signupbox" style="margin-top:100px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <div class="panel-title title lobster">Instaglike</div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            <div id="signupform" class="form-horizontal" role="form">

                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input id="signup-username" type="text" class="form-control" name="username" value="" placeholder="Username">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input id="signup-password" type="password" class="form-control" name="password" placeholder="Password">

                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input id="signup-password2" type="password" class="form-control" name="password" placeholder="Re-type password">

                </div>

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <button id="btn-signup" class="btn btn-block btn-custom smth-t">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-custom">
        <div class="form-group">
            <div class="col-md-12 control">
                <div style="font-size:85%">
                    Already have an account?
                    <a href="#login">
                        Log In Here
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>