@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url('./fonts/Lobster_Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$w : #fff;
$b : #000;
$p1: #262626;
$p2: #FAFAFA;
$p3: #E6E6E6;
$p4: #06aed5;
$p5: #086788;

body{
  background-color: $p2;
}

.f-page{
  min-height: 100vh !important;
  overflow: auto !important;
}

.smth-t,.nav>li>a{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar{
  background: $w;
  border-bottom: 1px solid #c5c5c58c;
}

.panel-custom{
  background-color: $w;
  border: 1px solid $p3;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.lobster{
  font-family: 'Lobster', cursive;
}

.title{
  font-size: 50px;
  color: $b;
  text-align: center;
}

.input-group{
  margin-bottom: 25px !important;
}

.btn-custom{
  background-color: $p5;
  color: $w;
}

.btn-custom:hover{
  background-color: $p4;
  color: $p3;
}

#header{ min-height: 80px !important; }

.navbar-toggle{
  min-height: 80px;
  margin: 0px 10px;
}

.navbar-header{
  a{
    font-size: 30px;
    padding: 15px;
    position: relative;
    float: left;
    color: $b;
  }

  a:hover, a:focus{
    text-decoration:none;
    color: $b;
  }

  .navbar-toggle .icon-bar{
    background-color: $b;
  }
}
.nav>li>a{ color: $b; }
.nav>li>a:hover, .nav>li>a:focus{
  color: $p1;
  text-decoration: none;
}

@media (min-width: 768px){
  .nav>li, .nav>li>a{
    min-height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav>li>a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: $b;
    height: 1px;
    transition: all .5s;
  }
  .nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
  }
  .nav>li>a:hover:after, .nav>li>a:focus:after{
      width:100%;
  }
}

